{% extends "components/base.twig" %}
{% block content %}
<div class="container">
    <ul class="nav nav-tabs" style="background-color: #fff; border-radius: 3px; font-size: 15px; ">
        {% for download in downloads %}
        {% if loop.index == 1 %}
        <li class="active"><a href="#{{ download.name }}" data-toggle="tab" aria-expanded="true">{{ download.name|title }}</a></li>
        {% else %}
        <li class=""><a href="#{{ download.name }}" data-toggle="tab" aria-expanded="false">{{ download.name|title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    <div id="panel-shadow" class="tab-content" style="padding: 20px; background-color: #fafafa; border-radius: 3px;">
        {% for download in downloads %}
        {% if loop.index == 1 %}
        <div class="tab-pane fade active in" id="{{ download.name }}">
            {% else %}
            <div class="tab-pane fade" id="{{ download.name }}">
                {% endif %}
                {% for item in download.items %}
                <div class="row">
                    <div>
                        <div style="font-size: 16px; display: inline-block; margin-top: 15px; margin-left: 20px; margin-right: 100px;" >{{item.name}}</div>
                        <div class="text-center pull-right" style="margin-right: 20px; margin-top: -10px; margin-bottom: -15px;">
                            <a href="{{ item.url }}"  style="display: block;" {% if item.file %} data-toggle="tooltip" title="{{ item.file }}" {% endif %} target="_blank">
                            <button class="fab text-center" style="background-color: #E91E63;">
                            <i class="mdi mdi-share" aria-hidden="true"></i>
                            </button>
                            </a>
                            {% if item.size %} 
                            <div>{{item.size}}</div>
                            {% else %} 
                            <div>---</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if item.about %} 
                <div style="margin-left: 7px; margin-top: 10px; margin-right: 60px; color: #757575">{{ item.about }}</div>
                {% endif %}
                <hr>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(window).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}