{% extends "components/base.twig" %}
{% block content %}
    <div class="container">
        <div class="card-panel row">
            <div class="col s12">
                <ul class="tabs tabs-fixed-width">
                    {% for download in downloads %}
                        <li class="tab col m1 s4"><a {% if loop.index == 1 %}class="active"{% endif %}
                                                     href="#{{ download.name }}">{{ download.name|title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="margin-small col s12">
                {% for download in downloads %}
                    <div class="tab-pane fade" id="{{ download.name }}">
                        {% for item in download.items %}
                            <div class="row valign-wrapper">
                                <div class="col s10">
                                    <div class="member-position padding-small">{{ item.name }}</div>
                                    {% if item.about %}
                                        <div class="grey-text text-darken-2">{{ item.about }}</div>
                                    {% endif %}
                                </div>
                                <div class="col s2 center-align">
                                    <a href="{{ item.url }}"
                                       style="display: block;" {% if item.file %} data-toggle="tooltip" title="{{ item.file }}" {% endif %}
                                       target="_blank">
                                        <button class="btn-floating btn-large waves-effect waves-light pink margin-small">
                                            <i class="mdi mdi-share" aria-hidden="true"></i>
                                        </button>
                                    </a>
                                    {%- if item.size -%}
                                        <div>{{ item.size }}</div>
                                    {%- endif -%}
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">

    </script>
{% endblock %}