{% if not project %}
    <div class="center-align cyan lighten-2 padding-small margin-small">
        <h3 class="grey-text text-darken-2">No project with this ID </h3>
        <i class="mdi mdi-robot mdi-48px grey-text text-darken-2" aria-hidden="true"></i>
    </div>
{% else %}
    {% if project.youtube or project.docs or project.images %}
        {% set start = 8 %}
        {% set end = 4 %}
    {% else %}
        {% set start = 12 %}
        {% set end = 0 %}
    {% endif %}

    <div class="row">
        <div class="col m{{ start }}">
            <div class="card-panel center-align">
                <h3>{{ project.name }}</h3>
                <img src="{{ project.image }}" height="200" class="padding-small"/>
                <h5>Team : {{ project.team }}</h5>

                <p class="flow-text">{{ project.description }}</p>
            </div>
        </div>

        <div class="col m{{ end }}">
            {% if project.youtube %}
                <div class="card-panel hoverable center-align red">
                    <h5 class="white-text padding-small">Youtube Video</h5>
                    <iframe class="tooltipped" data-tooltip="Play Video" frameborder="0" allowfullscreen
                            src="https://www.youtube.com/embed/{{ project.youtube }}?rel=0&showinfo=0&theme=light">
                    </iframe>
                </div>
            {% endif %}

            {% if project.images %}
                <div class="card-panel hoverable blue lighten-2 center-align">
                    <h5 class="grey-text text-darken-3">Images</h5>
                    <div class="row">
                        {% for image in project.images %}
                            <div class="col m4 s6">
                                <img src="{{ image }}" width="120" class="materialboxed tooltipped" data-tooltip="Preview Image" />
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if project.docs %}
                <div class="card-panel hoverable cyan">
                    <h5 class="center white-text">Documents</h5>
                    <ul>
                        {% for doc in project.docs %}
                            <li class="member-name">
                                <u><a class="grey-text text-lighten-2" href="{{ doc.url }}">{{ doc.name }}</a></u>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

        </div>
    </div>
{% endif %}