<div class="container">
    <div class="panel panel-default text-center" style="background-color: #512DA8;">
        <div class="panel-body">
            <h5 class="panel-text">{{ robocon.title }}</h5>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="col-lg-3">
        <div class="panel panel-default text-center" style="background-color: #00C853;">
            <div class="panel-body">
                <h5 class="panel-text">Introduction</h5>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <img class="img-responsive" src="{{ robocon.image }}">
                <p style="font-size: 15px; padding-top: 10px;">{{ robocon.introduction|raw }}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>About</h2>
                <hr style="border: 1px solid #ccc;">
                <div style="font-size: 16px;">{{ robocon.about|raw }}</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default text-center" style="background-color: #2196F3;">
            <div class="panel-body">
                <h5 class="panel-text">Downloads</h5>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
            {% for item in downloads.items %}

                <div class="row vertical-align">
                    <div class="col-xs-10">
                        <h6>{{ item.name }}</h6>
                    </div>
                    <div class="col-xs-3 text-center">
                        <a href="{{ item.url }}" style="display: block;" {% if item.file %} data-toggle="tooltip" title="{{ item.file }}" {% endif %} target="_blank">
                            <button class="fab text-center" style="background-color: #E91E63;">
                            <i class="mdi mdi-share" aria-hidden="true"></i>
                            </button>
                        </a>
                        {%- if item.size -%}
                            <div>{{item.size}}</div>
                        {%- else -%}
                            <div>---</div>
                        {%- endif -%}
                    </div>
                </div>
            <hr style="margin-top: 2px; margin-bottom: 5px;">
            {% endfor %}
        </div>
    </div>
</div>
<script type="text/javascript">
    $(window).ready(function() {
    	$('[data-toggle="tooltip"]').tooltip();
    });
</script>