<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="theme-color" content="#00BCD4">

    <meta name="msapplication-navbutton-color" content="#00BCD4">

    <meta name="apple-mobile-web-app-status-bar-style" content="#00BCD4">
    <link rel="shortcut icon" href="https://res.cloudinary.com/amuroboclub/image/upload/old/icon.png" />
    <title>{{ title|title }} - Roboclub</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <link href="https://cdn.materialdesignicons.com/1.7.22/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link href="{{ base_url }}/css/style.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.7/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.7/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.7/firebase-auth.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" ></script>

    {% block styles %}
    {% endblock %}
</head>
<body class="grey lighten-4">

{{ include('components/navbar.twig') }}

<span id="base_url" style="display: none;">{{ base_url }}</span>

{% block content %}
    <div class="container">
        <h1>Basic Page Template</h1>
        <p>Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>
{% endblock %}

{{ include('components/footer.twig') }}

<script src="{{ base_url }}/scripts/app.js"></script>
<script src="{{ base_url }}/scripts/firebase-ops.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>