<nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 60px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./"><img src="https://res.cloudinary.com/amuroboclub/image/upload/old/logo-vector.svg" alt="AMU RoboClub" /></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
{%- for item in navigation -%}
            {% if route == item %}
                <li class="active"><a href="./{{ item }}">{{ item|title }} <span class="sr-only">(current)</span></a></li>
            {% elseif route == '' and item == 'home' %}
                <li class="active"><a href="./">{{ item|title }} <span class="sr-only">(current)</span></a></li>
            {% else %}
                <li><a href="{{ base_url }}/{{ item }}">{{ item|title }}</a></li>
            {% endif %}
{%- endfor -%}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ base_url }}/signin"><button style="margin-top: -7px; margin-bottom: -7px;" class="btn btn-primary">Register</button></a></li>
                <li><a href="{{ base_url }}/developers">Developers</a></li>
            </ul>
        </div>
    </div>
    <div id="progress-bar" class="progress progress-striped active" style="display:none;margin: 0px; padding: 0px">
        <div class="progress-bar" style="width: 100%;margin: 0px; padding: 0px;"></div>
    </div>
</nav>
