<nav class="blue-grey lighten-5" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" class="rand-logo" href="./">
            <img src="https://res.cloudinary.com/amuroboclub/image/upload/logo-vector.svg" alt="AMU RoboClub" />
        </a>
        <ul class="right hide-on-med-and-down">
            {%- for item in navigation -%}
                {% if route == item %}
                    <li class="active"><a class="grey-text text-darken-4" href="./{{ item }}">{{ item|title }}</a></li>
                {% elseif route == '' and item == 'home' %}
                    <li class="active"><a class="grey-text text-darken-4" href="./">{{ item|title }}</a></li>
                {% else %}
                    <li><a class="grey-text text-darken-4" href="{{ base_url }}/{{ item }}">{{ item|title }}</a></li>
                {% endif %}
            {%- endfor -%}
            <li><a id="signin-link" href="{{ base_url }}/signin"><button id="signin-button" class="waves-effect waves-light btn blue">Sign In</button></a></li>
            <li><a class="grey-text text-darken-4" href="{{ base_url }}/developers">Developers</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            {%- for item in navigation -%}
                {% if route == item %}
                    <li class="active"><a class="grey-text text-darken-4" href="./{{ item }}">{{ item|title }}</a></li>
                {% elseif route == '' and item == 'home' %}
                    <li class="active"><a class="grey-text text-darken-4" href="./">{{ item|title }}</a></li>
                {% else %}
                    <li><a class="grey-text text-darken-4" href="{{ base_url }}/{{ item }}">{{ item|title }}</a></li>
                {% endif %}
            {%- endfor -%}
            <li><a id="signin-link" href="{{ base_url }}/signin">Sign In</a></li>
            <li><a class="grey-text text-darken-4" href="{{ base_url }}/developers">Developers</a></li>
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse color-dark"><i class="material-icons">menu</i></a>
    </div>
    <div id="progress-bar" class="progress" style="display:none;margin: 0px; padding: 0px">
        <div class="indeterminate"></div>
    </div>
</nav>
